<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>{{ page_title }}</title>

    <link rel="icon" type="image/x-icon" href="http://www.benmcewen-se.com/bacs350/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://www.benmcewen-se.com/bacs350/uncDark.css">

</head>

<body>

    <header>
        <div class="pull-right">
            <img src="http://www.benmcewen-se.com/bacs350/images/BearINV.200.jpg" class="img-rounded img-responsive" alt="UNC Bear" width="120">
        </div>
        <div>
            <h1>UNC Django Workshop</h1>
            <h2>{{ title }}</h2>
        </div>
    </header>

    <main>
        <p>See Also</p>
        <ul>
            <li>
                <a href="/">Visit Home</a>
            </li>
            <li>
                <a href="page1">Visit Page 1</a>
            </li>
            <li>
                <a href="page2">Visit Page 2</a>
            </li>
            <li>
                <a href="page3">Visit Page 3</a>
            </li>
        </ul>
        <a href= "http://www.benmcewen-se.com/bacs350"><button> Just GO!</button></a>

        {% block content %}
        <h2>BASE UNC TEMPLATE</h2>
        <p>No content is defined.</p>
        {% endblock %}
    </main>
</body>

</html>
