<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Notes App</title>

    <link rel="icon" type="image/x-icon" href="https://unco-bacs.org/bacs350/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unco-bacs.org/bacs350/unc.css">

</head>

<body>

    <header>
        <div class="pull-right">
            <img src="https://unco-bacs.org/bacs350/images/Bear.200.png" class="img-rounded img-responsive" alt="UNC Bear" width="120">
        </div>
        <div>
            <h1>UNC Django Workshop</h1>
            <h2>Notes App</h2>
        </div>
    </header>

    <main>
        {% block content %}
        <h2>BASE UNC TEMPLATE</h2>
        <p>No content is defined.</p>
        {% endblock %}
    </main>
</body>

</html>
