{% extends "unc.html" %}

{% block content %}

<h3>Delete Note</h3>

<form action="" method="post">
    {% csrf_token %}

    <p>
        This object as well as their related objects will be deleted.
        Are you sure?
    </p>

    <p>
        <a href="{{ object.get_absolute_url }}">Note #{{ object.pk}} - {{ object.title }}</a>
    </p>

    <input type="submit" value="Confirm" name="confirm_delete" class="button" />
    <a href="../.." class="button">Cancel</a>
    <input type="hidden" value="{{ object.id }}" name="itemsToDelete" />
</form>


{% endblock %}
